/*html{
    height: 98%;
}
body{
    height: 100%;
}*/
.ut-container, .ut-container [class^="ut-col"] {
    box-sizing: border-box;
}

.ut-layout-sample, .ut-widget-sample, .ut-left-block {
    box-sizing: border-box;
}

.ut-formEngine-out {
    margin: 5px;
    box-sizing: border-box;
    height: 98%;
    width: 99%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.ut-formEngine-out:after {
    display: block;
    content: "";
    clear: both;
}

.ut-formEngine-property-wrap {
    height: 100%;
    width: 24%;
    float: right;
    box-sizing: border-box;
    overflow-y: visible;
    position: relative;
}

.ut-formEngine-slide-wrap {
    height: 100%;
    width: 18%;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.ut-formEngine-slide {
    border: 1px solid #ccccce;
    box-sizing: border-box;
}

.ut-formEngine-content-center-wrap {
    border: 1px solid #ccccce;
    height: 100%;
    width: 57%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    box-sizing: border-box;
}

.ut-formEngine-content-wrap{
    height:99%;
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
}

.ut-formEngine-content-wrap .ut-formEngine-content {
    min-height: 400px;
    padding-bottom: 30px;
}

.ut-formEngine-slide .ut-widget-sample, .ut-formEngine-slide .ut-layout-sample {
    float: left;
    width: 50%;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

.ut-left-block:after {
    content: "";
    display: block;
    clear: both;
}

.ut-widget-sample, .ut-widget-sample *, .ut-layout-sample, .ut-left-head {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.ut-formEngine-slide .ut-widget-sample img, .ut-formEngine-slide .ut-layout-sample img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 15px;
}

.ut-formEngine-slide .ut-widget-sample span, .ut-formEngine-slide .ut-layout-sample span {
    vertical-align: middle;
}

.ut-formEngine-slide .ut-widget-sample:hover, .ut-formEngine-slide .ut-layout-sample:hover {
    background: #eeeeee;
    cursor: move;
}

.ut-widget-shell {
    padding: 25px 15px;
    position: relative;
}

.ut-widget-shell:after {
    content: "";
    display: block;
    clear: both;
}

.ut-formEngine-content-wrap .ut-widget-shell:hover {
    border: 1px dashed #459ce1;
    background-color: #f6fbff;

}
.ut-show-form{
    display: block;
}
.ut-container div[class^="ut-col-"] {
    float: left;
    min-height: 100px;
    border: 1px dashed #d8d9db;
}

.ut-container {
    width: 100%;
}

.ut-container:after {
    content: "";
    display: block;
    clear: both;
}

.ut-layout-shell {
    padding: 25px 0px 0px 0px;
    position: relative;
    background: #ffffff;
}

.ut-formEngine-content-wrap .ut-layout-shell:hover {
    border: 1px dashed #459ce1;
}

.ut-sortable-placeholder {
    outline: 1px dashed #ddd;
    visibility: visible !Important;
    border-radius: 4px;
    margin: 10px;
}

.ut-left-block {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 14px;
    color: #575765;
}

.ut-left-head {
    font-size: 14px;
    margin: 8px;
}

.ut-delete {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    width: 45px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border-radius: 0 3px;
    background: url(../img/formEngine/remove.png) no-repeat;
    background-position: center center;
    border: 1px solid #eee;
}

.ut-setting {
    display: none;
    position: absolute;
    top: 0;
    right: 45px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    width: 45px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border-radius: 0 3px;
    background: url(../img/formEngine/setting.png) no-repeat;
    background-position: center center;
    border: 1px solid #eee;
}

.ut-setting:hover {
    background-color: #e2e2e2;
}

.ut-delete:hover {
    background-color: #e2e2e2;
}

/*tab的样式和高度仍然有问题，且不能向下移出*/
.ut-container-tabs .ut-col-1 {
    min-height: 200px !important;
}

.ut-container-panel .ut-col-1 {
    min-height: 200px !important;
}

.ut-container-tabs {
    height: 200px;
}

.ut-helper {
    width: 200px !important;
    height: 30px !important;
}

.ut-formEngine-slide .ut-preview {
    display: block;
}

.ut-formEngine-slide .ut-view {
    display: none;
}

.ut-formEngine-content .ut-preview {
    display: none;
}

.ut-formEngine-content .ut-view {
    display: block;
}

.ut-state-hover {
    background: #ccc;
}

.delHidden {
    height: 16px;
    width: 16px;
    cursor: pointer;
    vertical-align: middle;
    background: url(../img/formEngine/delete.png) no-repeat;
    display: inline-block;
}

.delHidden:hover {
    background-color: #e2e2e2;
    border-radius: 3px;
}

.delOpt {
    height: 16px;
    width: 16px;
    cursor: pointer;
    vertical-align: middle;
    background: url(../img/formEngine/delete.png) no-repeat;
    display: inline-block;
}

.delOpt:hover {
    background-color: #e2e2e2;
    border-radius: 3px;
}

.oneOpt {
    padding: 5px 10px;
}

.ut-formEdit-line {
    padding: 0px 20px;
    margin: 10px auto;
}

.ut-formEdit-line p {
    margin-bottom: 5px;
    padding: 0;
}

.ut-formEdit-jsUrl{
    width:100%;
    height:100px;
    resize : none;
}

.ut-formEdit-jsContent{
    width:100%;
    height:180px;
    resize : none;
}
.edit-option {
    padding: 5px 10px;
}

.edit-option p {
    margin-bottom: 0;
    padding-left: 10px;
}

.addOptWrap {
    text-align: right;
    padding: 5px 10px;
}

.addHidden {
    height: 16px;
    width: 16px;
    cursor: pointer;
    vertical-align: middle;
    background: url(../img/formEngine/add.png) no-repeat;
    display: inline-block;
}

.addHidden:hover {
    background-color: #e2e2e2;
    border-radius: 3px;
}

.addOpt {
    height: 16px;
    width: 16px;
    cursor: pointer;
    vertical-align: middle;
    background: url(../img/formEngine/add.png) no-repeat;
    display: inline-block;
}

.addOpt:hover {
    background-color: #e2e2e2;
    border-radius: 3px;
}

.optRadio {
    vertical-align: middle;
    margin-right: 5px;
}

.ut-formEngine-content-center-wrap > form {
    max-height: 95%;
    padding-bottom:30px;
    overflow-y: auto;
}

.formInfo-row {
    margin: 10px auto;
    margin-left: 50px;
}

.ut-formEdit-required {
    vertical-align: middle;
    margin-left: 20px;
}

.ut-formEdit-format {
    vertical-align: middle;
    margin-left: 20px;
}

.formInfo-classify:after {
    display: block;
    content: "";
    clear: both;
}

.formInfo-classify .ut-form-label {
    display: block;
    float: left;
}

.formInfo-classify .ut-smart-select {
    float: left;
}

.form_icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    line-height: 23px;
    background-position: center center;
    margin-left: 15px;
    margin-right: 5px;
}

.icon_button {
    background: url(../img/formEngine/button.png) no-repeat;
}

.icon_img{
  background: url(../img/formEngine/photo.png) no-repeat;
}

.icon_input {
    background: url(../img/formEngine/input.png) no-repeat;
}

.icon_select {
    background: url(../img/formEngine/select.png) no-repeat;
}

.icon_checkgroup {
    background: url(../img/formEngine/checkgroup.png) no-repeat;
}

.icon_date {
    background: url(../img/formEngine/date.png) no-repeat;
}

.icon_datetime {
    background: url(../img/formEngine/datetime.png) no-repeat;
}

.icon_textarea {
    background: url(../img/formEngine/textarea.png) no-repeat;
}

.icon_radiogroup {
    background: url(../img/formEngine/radiogroup.png) no-repeat;
}

.icon_placeholder {
    background: url(../img/formEngine/placeholder.png) no-repeat;
}

.icon_fileupload {
    background: url(../img/formEngine/fileupload.png) no-repeat;
}

.icon_col1 {
    background: url(../img/formEngine/col1.png) no-repeat;
}

.icon_col2 {
    background: url(../img/formEngine/col2.png) no-repeat;
}

.icon_col3 {
    background: url(../img/formEngine/col3.png) no-repeat;
}

.icon_col4 {
    background: url(../img/formEngine/col4.png) no-repeat;
}

.icon_col2_10 {
    background: url(../img/formEngine/col2_10.png) no-repeat;
}

.icon_tab {
    background: url(../img/formEngine/tab.png) no-repeat;
}

.icon_panel {
    background: url(../img/formEngine/panel.png) no-repeat;
}

.icon_line {
    background: url(../img/formEngine/line.png) no-repeat;
}

.icon_statictext {
    background: url(../img/formEngine/statictext.png) no-repeat;
}

.icon_hiddenfields {
    background: url(../img/formEngine/hiddenfields.png) no-repeat;
}

.icon_parameter {
    background: url(../img/formEngine/parameter.png) no-repeat;
}

.ut-window div[class^="ut-col-"], #xform_utry_dync_form div[class^="ut-col-"] {
    border: none;
    min-height: 1px;
}

.ut-window .ut-layout-shell, #xform_utry_dync_form .ut-layout-shell {
    border: none;
    height: auto;
    min-height: 0;
    padding: 0;
    margin: 0;
}

.ut-window .ut-widget-shell, #xform_utry_dync_form .ut-widget-shell {
    padding: 10px;
    margin: 0;
}

.ut-window .form_placeholder, #xform_utry_dync_form .form_placeholder {
    visibility: hidden;
}

.ut-window .form_hiddenfields, #xform_utry_dync_form .form_hiddenfields {
    display: none;
}

.ut-form-preview {
    margin-left: 15px;
    margin-left: 0 \0;
    *margin-left: 0;
}

.ut-formEngine-header {
    font-size: 18px;
    text-align: center;
    color: #575765;
}

.ut-window .nothingseeknothingfind, #xform_utry_dync_form .nothingseeknothingfind {
    position: static !important;
    width: auto !important;
}

.ut-formEngine-do {
    text-align: right;
    padding-bottom: 8px;
    padding-top: 8px;
    background: #f5f6fa;
    border-bottom: 1px solid #e5e5e7;
}

.ut-formEngine-view-attr {
    margin-top: 5px;
    position: absolute;
    top: 300px;
    left: 0px;
    width: 100%;
    bottom:0;
}

.ut-formEngine-slide-attr {
    color: #575765;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: auto;
    bottom: 0;
}

.ut-formEngine-slide-attr input[type=text], .ut-formEngine-slide-attr input[type=number] {
    width: 100%;
}

.ut-formEngine-slide-widget {
    border: none;
}

.edit-option input[type=text] {
    width: 90px;
}

.ut-formEngine-slide .ut-tabs-container {
    overflow: visible;
}

span.req {
    display: inline-block;
    color: red !important;
    font-weight: bold;
    padding: 0;
    vertical-align: middle;
    margin-left: 5px;
}

.forminfo-label {
    width: 27%;
}

.contentWrap {
    overflow: hidden;
}

.ut-felabel {
    display: block;
    text-align: left;
    width: 80px;
    color: #575765;
}

.ut-window .ut-formEngine-content {
    width: 63%;
    height: auto;
    margin: 0 auto;
}

#xform_utry_dync_form .ut-formEngine-content {
    width: 85%;
    margin: 0 auto;
}

#xform_utry_dync_form {
    margin: 0 auto;
}

.ut-window .ut-panel > .ut-main > .ut-body, #xform_utry_dync_form .ut-formEngine-content .ut-window .ut-panel > .ut-main > .ut-body {
    height: auto;
}

.ut-feSelected {
    background-color: #f6fbff;
    border-top: 1px dashed #cfd3d6;
    border-bottom: 1px dashed #cfd3d6;
}

.hiddenFName{
    display: inline-block;
    text-align: center;
    margin-left: 1px;
}

.hiddenFVal{
    display: inline-block;
    text-align: center;
    margin-right: 1px;
}

.optNameLabel {
    display: inline-block;
    width: 90px;
    text-align: center;
    margin-left: 35px;
}

.optValLabel {
    display: inline-block;
    width: 90px;
    text-align: center;
    margin-left: 8px;
}

div[layoutType=tabs] {
    display: none;
}

div[layoutType=panel] {
    display: none;
}

.ut-panel .ut-main {
    min-height: 100px !important;
}

.ut-formEngine-line {
    border: none;
    border-top: 1px dashed #cfd3d6;
    word-break: break-all;
    word-wrap: break-word;
}

.ut-formEngine-statictext {
    word-break: break-all;
    word-wrap: break-word;
}

.fe-parastatic {
    border: none;
    background-color: transparent;
}
.ut-body textarea.ut-input{
    width: 100%;
    height:100px;
}
.Opt-container{
    display: inline-block;
    width: 16px;
    height: 32px;
    vertical-align: bottom;
}


/* 以下是考试界面样式覆盖 */
.exercise-wrap .ut-form-label{
    width: auto!important;
    float: none!important;
}

.exercise-wrap .contentWrap .ut-wrap{
    float: none;
    display: block;
}
